<footer class="w-full py-4 bg-gray-800 text-white text-center">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4">
            <p>&copy; 2024 Oleg Semikopenko. All rights reserved.</p>
            <div class="flex space-x-4">
                <a href="https://www.linkedin.com/in/oleg-semikopenko" target="_blank" rel="noopener" class="text-white hover:text-gray-400">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm13.5 11.5h-3v-5.5c0-1.38-.56-2.5-2-2.5s-2 1.12-2 2.5v5.5h-3v-10h3v1.5c.5-.77 1.5-1.5 2.5-1.5 2.5 0 4.5 2 4.5 4.5v5.5z"/>
                    </svg>
                </a>
                <a href="https://github.com/olegiscrazy" target="_blank" rel="noopener" class="text-white hover:text-gray-400">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 0c-6.63 0-12 5.37-12 12 0 5.3 3.44 9.8 8.21 11.39.6.11.82-.26.82-.58 0-.29-.01-1.05-.02-2.06-3.34.73-4.04-1.61-4.04-1.61-.55-1.39-1.34-1.76-1.34-1.76-1.09-.75.08-.74.08-.74 1.2.08 1.83 1.23 1.83 1.23 1.07 1.83 2.8 1.3 3.49.99.11-.78.42-1.3.76-1.6-2.67-.3-5.47-1.34-5.47-5.95 0-1.31.47-2.38 1.23-3.22-.12-.3-.53-1.52.12-3.17 0 0 1-.32 3.3 1.23.95-.26 1.97-.39 2.98-.39s2.03.13 2.98.39c2.3-1.55 3.3-1.23 3.3-1.23.65 1.65.24 2.87.12 3.17.76.84 1.23 1.91 1.23 3.22 0 4.62-2.8 5.65-5.47 5.95.43.37.81 1.1.81 2.22 0 1.6-.01 2.88-.01 3.27 0 .32.22.69.82.58 4.77-1.59 8.21-6.09 8.21-11.39 0-6.63-5.37-12-12-12z"/>
                    </svg>
                </a>
                <a href="mailto:oleg.semikopenko@epitech.eu" class="text-white hover:text-gray-400">
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12.713l11.985-7.713h-23.97l11.985 7.713zm0 2.287l-12-7.75v13.75h24v-13.75l-12 7.75z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>